.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-image: url(/Images/backGround.jpg);
  background-size: cover;
}

#game-box {
    background-color: grey;
    width: 600px;
    height: 600px;
    
    position: relative;
    overflow: hidden;
    user-select: none;


}



#game-box * {
  pointer-events: none; /* prevents elements in the game-box to be dragged. This improves the user experience for click events on the game-box  */
}


#game-screen, #game-over-screen {
  display: none;
}
