body {
  margin: 0;
  background-color: lightgray;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;

  background-image: url(./Images/backGround.jpg);
  background-size: cover;

  width: 600px;
  height: 400px; 
}

#game-box {
    background-color: grey;
    width: 600px;
    height: 400px;
    
    position: relative;
    overflow: hidden;
    user-select: none;

    background-image: url(./Images/backGround.jpg);
    background-size: cover;
}

#game-box * {
  pointer-events: none;
}


#game-screen, #game-over-screen {
  display: none;
}

#damageFlash{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: red;
    opacity: 0;
    pointer-events: none;
    z-index: 50;
}